# Ignore Python bytecode files
__pycache__/
*.py[cod]

# Ignore virtual environment directory
.venv/
venv/
env/
ENV/

# Ignore PyCharm project files
.idea/

# Ignore JSON files
*.json
!config.json

# Ignore log files
*.log

# Ignore compressed files
*.gz
*.zip
*.tar

# Ignore temporary files
*.tmp
*.swp
*.swo
*.DS_Store

# Ignore Open Library GZ file (ended up unused)
ol_dump_works_latest.txt.gz
# Ignore kaggle_datasets directory (avoid large data files)
kaggle_datasets/
